*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(29, 174, 172);
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-weight: bold;
    font-family: 'Courier New';
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.choice:hover{
    background-color: rgb(145, 4, 4);
    cursor: pointer;
   
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
    font-weight: bold
    ;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: blueviolet;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: inline;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid rgb(110, 14, 14);

}

#msg:hover{
    cursor: pointer;
    background-color: rgb(145, 4, 4);
}